# Maven / Java
target/
*.class
*.jar
*.war
*.log

# IDE specific
.vscode/
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db

# Lombok
*.class

# H2 database (optional: if you want local DB not tracked)
data/

# Spring Boot DevTools
spring-boot-devtools/
